@charset "utf-8";
/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700); */
/* css document */

@font-face {
    font-family: 'LL';
    src: url('../fonts/lineto-brown-pro-light.ttf');
    src: url(//:) format('no404'), url('../fonts/lineto-brown-pro-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LM';
    src: url('../fonts/lineto-brown-pro-regular.ttf');
    src: url(//:) format('no404'), url('../fonts/lineto-brown-pro-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LB';
    src: url('../fonts/lineto-brown-pro-bold.ttf');
    src: url(//:) format('no404'), url('../fonts/lineto-brown-pro-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}